build/gefri/build
docs
lib
samples/gxDraw/build
build/Xcode/Gefri.xcworkspace/xcuserdata/izhaki.xcuserdatad/UserInterfaceState.xcuserstate

build/Xcode/Gefri.xcworkspace/xcuserdata/izhaki.xcuserdatad/xcdebugger/Expressions.xcexplist

build/Xcode/Gefri.xcworkspace/xcuserdata/izhaki.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

build/Xcode/Gefri.xcworkspace/xcuserdata/izhaki.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

build/Xcode/Gefri.xcworkspace/xcuserdata/izhaki.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

build/Xcode/Gefri.xcworkspace/xcuserdata/izhaki.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Libraries/wxWidgets/OSX/Debug
Libraries/wxWidgets/OSX/Release
Libraries/wxWidgets/OSX/Source
